.nav-title {
  padding-left: 10px;
  font-size: 3vmin;
}
.ms-auto {
  margin-left: 10px;
}
.nav-link {
  margin-left: 10px;
}
.navbar {
  border-bottom: 5px solid black;
  position: fixed;
  top: 0;
  width: 100%;
}

nav.naaaav {
  position: fixed;
  top: 0;
  width: 100%;
}
